#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  #root {
    background-color: var(--main-background-color);
  }
}

.header__wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--main-background-color);
  height: 8rem;
}

@media (prefers-color-scheme: light) {
  .header__wrapper {
    background-color: var(--main-background-color);
  }
}
