.ListHeader {
  margin-bottom: 2rem;
  position: sticky;
  height: 2rem;
  top: 5rem;
  background-color: #242424;
  padding-top: 0.5rem;
  margin-top: -3rem;
}

@media (prefers-color-scheme: light) {
  .ListHeader {
    background-color: #f0f0f0;
  }
}
